<!-- <form [formGroup]="form">
	<div class="form-group ls-login-user">
		<label for="userLogin">Usuário</label>
		<input  formControlName="userName" class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="Usuário">
	</div>

	<div class="form-group ls-login-password">
		<label for="userPassword">Senha</label>
		<input  formControlName="password" class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
	</div>

    <div class="form-group ls-login-password">
		<label for="userPassword">Email</label>
		<input  formControlName="email" class="form-control ls-login-bg-password input-lg" id="userEmail" type="email" aria-label="email" placeholder="E-mail">
	</div>
	
<input (click)="adicionar()" value="Cadastrar" class="btn btn-primary btn-lg btn-block">
</form>
	 -->

<div class="page" style="background-color: #F5CEE6;">
	<form [formGroup]="form" method="POST" class="formLogin">
		<h1 style="color: #000080;">Cadastrar</h1>
		<p>Digite os seus dados de acesso no campo abaixo.</p>
		<label style="color: #000080;" for="email">Usuário</label>
		<input formControlName="userName" type="email" placeholder="Digite seu nome" autofocus="true" />
		<label style="color: #000080;" for="email">E-mail</label>
		<input formControlName="email" type="email" placeholder="Digite seu e-mail" autofocus="true" />
		<label style="color: #000080;" for="password">Senha</label>
		<input formControlName="password" type="password" placeholder="Digite sua senha" />
		<input (click)="adicionar()" type="submit" value="Cadastrar" class="btn" />
	</form>
</div>