.file-input {
    display: none;
  }

  .fotoPerfil{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .red{
    background-color: red;
  }

  .azul{
    background-color: blue;
  }