<form [formGroup]="formGroup" method="POST" class="formLogin">
    <mat-horizontal-stepper #stepper>
        <mat-step>
            <ng-template matStepLabel>Imagem</ng-template>

            <div style="height: 500px; width: 500px;">

                <input type="file" class="file-input" (change)="onFileSelected($event, stepper)" #fileUpload>

                <div style="    height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 8px;
        border-style: dashed;
        border-color: #707070;
        border-radius: 40px;
        margin-top: 10px;" class="file-upload" *ngIf="Foto && !Foto.url">
                    <label style="width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;" for='selecao-arquivo' (click)="fileUpload.click()
            ">selecione uma imagem</label>
                </div>

                <div *ngIf="Foto && Foto.url">
                    <img style="width: 90%; height: 90%;" [src]="Foto.url" *ngIf="Foto && Foto.url" class="imgPlaceholder">
                </div>

            </div>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Descricao</ng-template>
                <div style="    height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 8px;
        border-style: dashed;
        border-color: #707070;
        border-radius: 40px;
        margin-top: 10px;" class="file-upload" *ngIf="Foto && !Foto.url">
                    <label style="width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;" for='selecao-arquivo' (click)="fileUpload.click()
            ">selecione uma imagem</label>
                </div>

                <div *ngIf="Foto && Foto.url">
                    <img style="width: 90%; height: 90%;" [src]="Foto.url" *ngIf="Foto.url" class="imgPlaceholder">
                </div>
                <input formControlName="descricao" type="text" style="margin-top: 5%; width: 90%;"
                    placeholder="Insira a descrição">

                <div *ngIf="Foto && Foto.url" style="display: flex; justify-content: end; margin-top: 5%;">
                    <input [disabled]="!Foto.url" type="submit" (click)="next(stepper)" class="btn btn-success"
                        value="Confirmar">
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Preview</ng-template>
            <app-publicacao *ngIf="Foto" [readonly]="true" [descricao]="descricao" [url]="Foto.url"></app-publicacao>
            <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedPublico">
                publico
            </mat-slide-toggle>

            <div *ngIf="Foto" style="display: flex; justify-content: end;">
                <input [disabled]="!Foto.url" type="submit" (click)="uploadFile()" class="btn btn-success"
                    value="Publicar">
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</form>